* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #2196f3;
    --secondary: #D3EAFC;
    --tercery: #f3e721;
    --quartery: #f37e21;
    --white: #fff;
    --black: #000;
}

ul,
a {
    list-style: none;
    text-decoration: none;
}

img {
    width: 300px;
    height: auto;
    align-self: center;
    margin-bottom: 1em;
}

/* Layout */

.container {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif
}

/* Navbar  */

header {
    font-size: x-large;
}

#navbar header {
    text-align: center;
    padding-bottom: .6em;
    border-bottom: 1px solid gray;
    color: var(--white);
}

#navbar {
    background: var(--primary);
    flex: 30%;
    padding: 1em 0em;
    max-width: 250px;
    position: fixed;
    top: 0;
    height: 100vh;
}

#navbar ul {
    border: 1px solid var(--primary);
}
#navbar ul li {
    display: flex;
    width: 100%;
    background: var(--secondary);
}

.nav-link {
    padding: 1em;
    width: 100%;
    font-size: x-large;
    color: black;
    border-bottom: 1px solid gray;
}

.nav-link:hover {
    background: var(--primary);
    color: var(--white);
}

/* Main Doc */

#main-doc {
    width: 70%;
    flex: 70%;
    padding: 1em .6em;
    margin-left: 220px;
}

/* Section */

.main-section {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary);
    background: var(--secondary);
    margin: 1em 0em;
    padding: 1em;
    border-radius: .2em;
}

.main-section:first-child {
    margin-top: 0em;
}

.main-section > header, .main-section > p {
    margin-bottom: .5em;
}

code {
    display: block;
    padding: .6em;
    border: 1px solid var(--primary);
    background: var(--white);
    margin-bottom: 1em;
}

@media (max-width: 700px) {
    header {
        font-size: large;
    }

    #navbar {
        position: static;
        width: 100%;
        flex: 100%;
        padding: .6em .0em;
        max-width: 100%;
        height: 132px;
    }

    .nav-link {
        padding: .6em;
        width: 100%;
        font-size: medium;
    }

    #main-doc {
        width: 100%;
        flex: 100%;
        padding: .6em .4em;
        margin-top: 100px;
        margin-left: 0px;
    }
}