* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #2196f3;
    --secondary: #D3EAFC;
    --tercery: #f3e721;
    --quartery: #f37e21;
    --white: #fff;
    --black: #000;
}

ul, a {
    list-style: none;
    text-decoration: none;
}

img {
    width: 300px;
    height: auto;
}

/* Layout */

.container {
    display: flex;
    flex-wrap: wrap;
}

#navbar {
    background: orange;
    width: 30%;
    flex: 30%;
    padding: .6em .4em;
    max-width: 250px;
}

#main-doc {
    background: lightseagreen;
    width: 70%;
    flex: 70%;
    padding: .6em .4em;
}


@media (max-width: 700px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    
    #navbar {
        background: greenyellow;
        width: 100%;
        flex: 100%;
        padding: .6em .4em;
        max-width: 100%;
    }
    
    #main-doc {
        background: lightseagreen;
        width: 100%;
        flex: 100%;
        padding: .6em .4em;
    }   
}